{
  "window.title": "'REACT Learn - Bookmark' ${separator}${rootName}${separator}${activeEditorMedium}",
  //https://github.com/tonsky/FiraCode
  "editor.fontFamily": "FiraCode-Retina",
  "editor.fontLigatures": true,
  "editor.formatOnSaveTimeout": 750,
  "editor.formatOnSave": true,
  "editor.insertSpaces": true,
  "editor.tabSize": 2,
  "editor.cursorBlinking": "smooth",
  "editor.detectIndentation": true,
  "editor.renderWhitespace" : "all",
  "editor.minimap.renderCharacters":false,
  "editor.minimap.showSlider":"always",
  "editor.minimap.maxColumn": 110,
  "editor.minimap.side":"right",
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "[css|scss|less]":{
    "completion.completePropertyWithSemicolon":true,
  },
  "[javascript]": {
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "files.eol": "\r\n",
  "files.exclude": {
    "**/.vscode": true,
    "**/.yarnclean": true,
    "**/.circleci": true,
    "**/.vscode/launch.json": true,
    "**/.vscode/extensions.json": true,
    "**/.vscode/settings.json.example": true,
    "**/.git": true,
    "**/.gitignore": true,
    "**/.cache": true,
    "**/node_modules": true,
    "**/LICENSE": true,
    "**/yarn.lock": true,
    "**/CHANGELOG.md": true,
    "**/README.md": true,
    "**/.gitattributes": true,
    "**/.prettierrc": true,
    "**/.prettierignore": true,
    "**/.eslintrc": true,
    "**/.huskyrc": true,
    "**/.lintstagedrc": true,
    "**/.editorconfig": true,
    "**/.docz": true,
    "**/public": true,
    "gatsby-ssr.js": true,
    "gatsby-node.js": true,
    "gatsby-config.js": false,
    "gatsby-browser.js": true,
  }
}
